{% extends 'home/base.html' %}

{% block content %}
<h1>Contact</h1>
<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Send message" />
</form>
{% endblock %}
