{% extends 'home/base.html' %}

{% block content %}
<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link{% if page == 'info' %} active{% endif %}" href="{% if page != 'info' %}{% url 'accounts:view' userprof.pk %}{% else %}#{% endif %}">Info</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if page == 'blog' %} active{% endif %}" href="{% if page != 'blog' %}{% url 'accounts:view_blog' userprof.pk %}{% else %}#{% endif %}">Blog</a>
  </li>
</ul>

<div class="container-fluid">
<br>
{% if page == 'info' %}
{% load gravatar %}

<div class="row">
        <div class="col-sm-2">
		<img src="{% gravatar_url userprof.email 300 %}" class="rounded-circle img-fluid" />
	</div>
        <div class="col-sm-10">
{% if userprof.first_name %}{{ userprof.first_name }} {% if userprof.last_name %}{{ userprof.last_name }}{% endif %}<br>{% endif %}
{% if userprof.username %}@{{ userprof.username }}<br>{% endif %}
{% if userprof.last_login %}Last Seen: {{ userprof.last_login }}<br>{% endif %}
{% if userprof.bio %}<blockquote><p>{{ userprof.bio }}</p></blockquote>{% endif %}
	</div>
</div>
{% else %}
{% for post in posts %}
<br>
{% include 'blog/post.html' %}
</div>
{% endfor %}

{% endif %}
</div>
{% endblock %}
